<%= form_for task do |f| %>
    <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
    </div>

    <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
    </div>

    <%= f.submit %>
<% end %>