<h1><%= @task.project.name %></h1>
<h3><%= @task.summary %></h3>
<hr>
<p><%= @task.description %></p>
<hr>
<p><%= link_to "Return to Project Page", project_path(@task.project) %></p>
<p><%= link_to "View All Tasks", project_tasks_path(@task.project) %></p>
<p><%= link_to "Edit This Task", edit_project_task_path(@task.project, @task) %></p>
<p><%= link_to 'Delete This Task', @task, method: :delete, data: { confirm: 'Are you sure?' } %></p>
