<h1><%= @project.name %></h1>
<h3>Started by <%= @project.owner.name %></h3>
<hr>
<p><%= @project.description %>
<hr>
<p><%= link_to "Edit this project", edit_project_path(@project) %></p>
<p><%= link_to 'Delete this project', @project, method: :delete, data: { confirm: 'Are you sure?' } %></p>
